:export {
  menuText: #000;
  menuActiveText: #409EFF;
  subMenuActiveText: #409eff;
  menuBg: #fff;
  menuHover: rgba(80, 126, 229, 0.6);
  subMenuBg: rgba(80, 126, 229, 0.2);
  subMenuHover: rgba(80, 126, 229, 0.4);
  sideBarWidth: 200px;
}
